.dropDown {
    margin-left: 37.5%
}

.dropButton {
    text-align: center;
}

.dropFade {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}