@{
    ViewBag.Title = "Resources";
}
<h2>@ViewBag.Title</h2>

<div class="row" style="margin-left: 10px">
    <div class="col-md-2">
        <h4>User Manual:</h4>
   </div>
    <div class="col-md-3" style="margin-top: 10px; margin-left: -70px">
        <a href="@Url.Content("~/Roadway_History_Manual.pdf")">Roadway History User Manual</a>
    </div>
</div>

<img class="card-img-top" src="../Assets/resource1.png" alt="Card image cap" style="height:700px; width: 1300px">
