@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img alt="DOT Banner" src="@Url.Content("~/Assets/DOH banner.png")" style="width:1000px">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documents</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a href="../Documents/Index" class="btn btn-primary">Documents >></a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>Statewide</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a href="../Statewides/Index" class="btn btn-primary">Statewide >></a></p>
    </div>
</div>